In [46]:
import sqlite3
import csv

In [47]:
connection = sqlite3.connect('data.db')
cursor = connection.cursor()

Consulta 1

In [48]:
cursor.execute("SELECT E.nivel, AVG(E.edad) \
                FROM Estudiantes E\
                WHERE E.nivel != 'JR' \
                GROUP BY E.nivel")

print(cursor.fetchall())
connection.close()

[('FR', 17.666666666666668), ('SO', 18.4), ('SR', 20.714285714285715)]

Consulta 2

In [49]:
connection = sqlite3.connect('data.db') 
cursor = connection.cursor()

cursor.execute('SELECT DISTINCT E.nombre\
                FROM Estudiantes E, Cursos C, Inscritos I \
                WHERE NOT (E.num = I.num_est AND C.nombre = I.nombre_curso)')

for r in cursor:
    print(r[0])
connection.close()

Maria White
Charles Harris
Susan Martin
Joseph Thompson
Christopher Garcia
Angela Martinez
Thomas Robinson
Margaret Clark
Juan Rodriguez
Dorthy Lewis
Daniel Lee
Lisa Walker
Paul Hall
Nancy Allen
Mark Young
Luis Hernandez
Donald King
George Wright
Ana Lopez
Kenneth Hill
Karen Scott
Steven Green
Betty Adams
Edward Baker

Consulta 3

In [50]:
connection = sqlite3.connect('data.db') 
cursor = connection.cursor()

cursor.execute('SELECT DISTINCT P.nombre\
                FROM Profesores P, Cursos C, Inscritos I, Estudiantes E \
                WHERE (E.num = I.num_est AND C.nombre = I.nombre_curso AND I.num_est < 5)\
                GROUP BY P.nombre \
                HAVING I.num_est >= 1')

for r in cursor:
    print(r[0])
connection.close()

Consulta 4

In [51]:
connection = sqlite3.connect('data.db') 
cursor = connection.cursor()

cursor.execute('SELECT DISTINCT C.nombre\
                FROM Inscritos I, Cursos C \
                WHERE (I.num_est >= 5 or C.sala = "R128")')

for r in cursor:
    print(r[0])
    
connection.close()

Air Quality Engineering
American Political Parties
Archaeology of the Incas
Aviation Accident Investigation
Communication Networks
Dairy Herd Management
Data Structures
Database Systems
Intoduction to Math
Introductory Latin
Marketing Research
Multivariate Analysis
Operating System Design
Optical Electronics
Orbital Mechanics
Organic Chemistry
Patent Law
Perception
Seminar in American Art
Social Cognition
Urban Economics